* {
  margin: 0%;
  padding: 0%;
  text-align: center;
  background-color: grey;
}
h1 {
  color: #e0e0e0;
  background-color: black;
  height: 5rem;
  line-height: 5rem;
}

.choice {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.choice:hover {
  /* opacity: 0.5 ; */
  cursor: pointer;
  background-color: rgba(0, 0, 106, 0.821);
}

img {
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 50%;
  align-items: center;
}

.choices {
  display: flex;
  gap: 3rem;
  justify-content: center;
  margin-top: 5rem;
}

.score-board {
  display: flex;
  justify-content: center;
  gap: 5rem;
  font-size: 2rem;
  margin-top: 20px;
}

#user-score,
#comp-score {
  font-size: 4rem;
}

#msg {
  background-color: rgba(0, 0, 106, 0.821);
  color: white;
  display: inline;
  padding: 1rem;
  font-size: 2rem;
  border-radius: 1rem;
}

.msg-container {
  margin-top: 2rem;
}
